@charset "euc-kr";

/* Default */
*{font-size:1em;font-style:normal;margin:0;padding:0;font-family:"돋움", "Dotum", "굴림", "Gulim", Verdana, Arial, Sans-serif;}
* html			{overflow:scroll;overflow-x:auto;}
* html body		{height:100%;}
html, body		{min-height:100%;margin:0;padding:0;}
html			{overflow-y:scroll;}
body			{color:#777;font-size:75%;line-height:1.6;}
table caption	{display:none;}
fieldset, button{display:block;border:none;}
img				{margin:0;border:0;} 
ol,ul,li		{list-style:none;}
hr, button img	{display:none;}
textarea		{overflow:auto;} 
option			{padding-right:6px;} 
legend			{position:absolute;top:0;left:0;width:0;height:0;overflow:hidden;visibility:hidden; font-size:0; line-height:0;} 
dl,dt			{margin:0;padding:0;}
dd				{display:inline;margin:0;padding:0;}
label.none		{display:none;}

hr	{display:none;}
.fst{margin-top:0;padding-top:0;}
.clear{display:block;float:none;clear:both;height:0;width:100%;font-size:0 !important;line-height:0 !important;overflow:hidden; margin:0 !important; padding:0 !important;}
.none	{background:none;list-style:none;border:none;}
.png24 { tmp:expression(setPng24(this)); }
.left  {float:left;}
.right {float:right;}
.dpn {display: none !important; }
.dpb {display: block !important; }
.dpi {display: inline !important; }
.tal {text-align:left !important; } 
.tar {text-align:right !important; }
.tac {text-align:center !important; }
.vam{vertical-align:middle;}

a			{}
a:link    {text-decoration:none;color:#777;}
a:visited {text-decoration:none;color:#777;}
a:hover   {text-decoration:underline;}

/* Form */
form { margin: 0; padding: 0; }
fieldset { margin: 0; padding: 0; border: 0; }
legend { margin: 0; padding: 0; }
input,select,textarea,button {margin:0;padding:0;font-size:100%;line-height:1.3;vertical-align: middle; }
select { *margin-top:0.02em; } /* IE */
textarea {width:96%;padding:4px 0 0 4px;border:1px solid #bbb; background: #fff; overflow: auto; }
input		 {padding:1px;border:1px solid #ccc;} 
input.image {vertical-align:middle;border:none;}
input.none	{border:none !important;}

/* 여백 */
.p5		{padding:5px;}
.pt10	{padding-top:10px;}
.pt15	{padding-top:15px;}
.pt20	{padding-top:20px;}
.pt25	{padding-top:25px;}
.pt30	{padding-top:30px;}
.pt40	{padding-top:40px;}
.pr5	{padding-right:5px;}
.pr10	{padding-right:10px;}
.pr15	{padding-right:15px;}
.pr20	{padding-right:20px;}
.pb5	{padding-bottom:5px;}
.pb10	{padding-bottom:10px;}
.pb15	{padding-bottom:15px;}
.pb20	{padding-bottom:20px;}
.pb30	{padding-bottom:30px;}
.pb40	{padding-bottom:40px;}
.pl5	{padding-left:5px;}
.pl10	{padding-left:10px;}
.pl15	{padding-left:15px;}
.pl20	{padding-left:20px;}
.pl40	{padding-left:40px;}

.m0		{margin:0;padding:0;}
.mtp5	{margin-top:5px;}
.mtp10	{margin-top:10px;}
.mtp15	{margin-top:15px;}
.mtp20	{margin-top:20px;}
.mrp5	{margin-right:5px;}
.mlp5	{margin-left:5px;}
.mbp10	{margin-bottom:10px;}
.mbp15	{margin-bottom:15px;}
.mbp20	{margin-bottom:20px;}

/* box */
.graybg			{background:#f4f4f4;padding:15px;}
.wbg			{background:#fff;padding:15px;}
.graybox		{background:#f4f4f4;border:1px solid #cccccc;padding:15px;}
.rbox			{background:#f4f4f4;border:1px solid #DA541B;padding:15px;}
.bs1df			{background:#ffffff;border:1px solid #cccddd;padding:15px;}
.bs2df			{background:#ffffff;border:2px solid #cccccc;padding:15px;}
.bs4df			{background:#ffffff;border:4px solid #eaeaea;padding:15px;}

.fwn { font-weight: normal !important; }
.fwb { font-weight: bold !important; }
.dot11{font-size:11px !important;}
.underline{text-decoration:underline;}
.pointr{color:#CC0000 !important;}
.pointor{color:#FF6600 !important;}
.pointbl{color:#0066CC !important;}

/* table **************************************************************/
table caption { display: none; }
table caption span { font-weight: normal; }

table.tb			{border-collapse:collapse;width:100%;margin:0;} 
table.tb td			{background:#ffffff;border:1px solid #ddd;padding:0;margin:0;}

table.t0			{border-collapse:collapse;margin:0 auto 1em;} 
table.t0 td			{padding:0;margin:0;background:#ffffff;text-align:center;}
	
table.t1				{border-collapse:collapse;width:100%;margin:10px 0;} 
table.t1 thead th		{padding:3px;background:#999999;border:1px solid #888;color:#fff;line-height:1.4;}
table.t1 tbody th		{padding:5px;background:#f5f5f5;border:1px solid #ddd;font-weight:normal;line-height:1.4;}
table.t1 tbody td		{padding:3px 5px;background:#ffffff;border:1px solid #ddd;}
table.t1 tfoot th		{padding:3px 5px;background:#f5f5f5;border:1px solid #ddd;font-weight:bold;}
table.t1 tfoot td		{padding:3px 5px;background:#f5f5f5;border:1px solid #ddd;font-weight:bold;}
table.t1 ul				{margin:5px 0;line-height:1.5;}
table.t1 ul li			{margin:0;}

table.tc1				{border-collapse:collapse;width:100%;margin:10px 0;text-align:center;} 
table.tc1 thead th		{padding:3px;background:#999999;border:1px solid #888;color:#fff;line-height:1.4;}
table.tc1 tbody th		{padding:5px;background:#f5f5f5;border:1px solid #ddd;font-weight:normal;line-height:1.4;}
table.tc1 tbody td		{padding:3px 5px;background:#ffffff;border:1px solid #ddd;}
table.tc1 tfoot th		{padding:3px 5px;background:#f5f5f5;border:1px solid #ddd;font-weight:bold;}
table.tc1 tfoot td		{padding:3px 5px;background:#f5f5f5;border:1px solid #ddd;font-weight:bold;}
table.tc1 ul			{margin:0;line-height:1.5;}
table.tc1 ul li			{margin:0;}

table.tr1				{border-collapse:collapse;width:100%;margin:10px 0;} 
table.tr1 thead th		{padding:3px;background:#999999;border:1px solid #888;color:#fff;line-height:1.4;}
table.tr1 tbody th		{padding:5px;background:#f5f5f5;border:1px solid #ddd;font-weight:normal;line-height:1.4;}
table.tr1 tbody td		{padding:3px 5px;background:#ffffff;border:1px solid #ddd;text-align:right;}
table.tr1 tfoot th		{padding:3px 5px;background:#f5f5f5;border:1px solid #ddd;font-weight:bold;}
table.tr1 tfoot td		{padding:3px 5px;background:#f5f5f5;border:1px solid #ddd;font-weight:bold;text-align:right;}

table.t2				{border-collapse:collapse;width:100%;margin:10px 0;} 
table.t2 thead th		{padding:4px;background:#3776CA;border:1px solid #3776CA;color:#fff;font-weight:normal;line-height:1.4;}
table.t2 tbody th		{padding:4px;background:#f5f5f5;border:1px solid #ddd;font-weight:normal;}
table.t2 tbody td		{padding:4px;background:#ffffff;border:1px solid #ddd;}
table.t2 tfoot th		{padding:4px;background:#f5f5f5;border:1px solid #ddd;}
table.t2 tfoot td		{padding:4px;background:#f5f5f5;border:1px solid #ddd;font-weight:bold;}

table.tc2				{border-collapse:collapse;width:100%;margin:10px 0;text-align:center;} 
table.tc2 thead th		{padding:4px;background:#3776CA;border:1px solid #3776CA;color:#fff;font-weight:normal;line-height:1.4;}
table.tc2 tbody th		{padding:4px;background:#f5f5f5;border:1px solid #ddd;font-weight:normal;}
table.tc2 tbody td		{padding:4px;background:#ffffff;border:1px solid #ddd;}
table.tc2 tfoot th		{padding:4px;background:#f5f5f5;border:1px solid #ddd;}
table.tc2 tfoot td		{padding:4px;background:#f5f5f5;border:1px solid #ddd;font-weight:bold;}

/* board */
.board_info		{clear:both;width:100%;padding:0;margin:10px 0;overflow:hidden;}
.totalpage		{font-size:90%;}
.totalpage em	{font-weight:bold;}

table.list					{clear:both;border-collapse:collapse;width:100%;margin:0;}
table.list thead th			{background:#f7f7f7 url('../../images/bg/bg_board.gif') no-repeat 50% 100%;border-top:1px solid #ccc;font-size:90%;font-weight:bold;letter-spacing:-1px;line-height:32px;text-align:center;}
table.list thead th.fst		{background:#f7f7f7 url('../../images/bg/bg_board.gif') no-repeat 0 100%;}
table.list thead th.end		{background:#f7f7f7 url('../../images/bg/bg_board.gif') no-repeat 100% 100%;}
table.list thead tr,
table.list tbody tr			{line-height:35px;text-align:center;}
table.list tbody td,
table.list tbody th			{border-bottom:1px solid #e4e4e4;font-weight:normal;}
table.list tbody td.notice	{font-weight:bold;}
table.list tbody td.subject	{text-align:left;}
table.list tbody td.msg		{padding-left:15px;background:url('../../images/btn/ico_msg.gif') no-repeat 0 1em;text-align:left;}
table.list tbody td.gbg		{background:#f7f7f7;}
table.list tbody tr:hover	{background:#f7f7f7;}
table.list img				{vertical-align:middle;margin:0 4px;}

table.view					{clear:both;border-collapse:collapse;width:100%;margin:0;border-top:1px solid #cecece;}
table.view thead tr,			
table.view tbody tr			{line-height:1.5;}
table.view thead th			{background:#f7f7f7;border-left:1px solid #cecece;border-right:1px solid #cecece;border-bottom:1px solid #a4a4a4;color:#555;letter-spacing:-1px;text-align:center;}/* 제목 */
table.view thead td.fst		{background:#f6f6f6;font-size:90%;text-align:center;}
table.view thead td			{padding:6px;border-bottom:1px solid #ddd;}
table.view tbody th,
table.view tbody td			{padding:8px;border-top:1px solid #ddd;font-weight:normal;}
table.view h3				{margin:0;padding:8px;background:none;color:#555;text-align:center;}
table.view h3 span			{display:none;float:left;text-align:center;background:none;}
table.view tbody th			{background:#f6f6f6;}
table.view tbody td.attach	{text-align:left;padding:6px;white-space:normal;}/* 첨부 */
table.view tbody td.attach a{margin-left:4px;}
#viewcont					{padding:20px 0;margin:0;border-bottom:1px solid #666;}
#viewcont img,
#viewcont table				{max-width:680px;}

.boardview_list					{border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.boardview_list	ul				{clear:both;}
.boardview_list	li				{height:26px;line-height:26px;padding:0;}
.boardview_list	li span.subject	{float:left;width:480px;}
.boardview_list	li span.subject	span{margin:0 15px 0 10px;}
.boardview_list	li span.name	{float:left;width:100px;text-align:center;}
.boardview_list	li span.date	{float:right;width:80px;text-align:center;}
.boardview_list	ul.on li		{background:#f7f7f7;border-top:1px dashed #ddd;border-bottom:1px dashed #ddd;}


/* 입력 */
table.write			{clear:both;border-collapse:collapse;width:100%;margin:0 0 1em 0;border-top:1px solid #cecece;border-left:1px solid #cecece;border-right:1px solid #cecece;border-bottom:1px solid #666;}
table.write th		{padding:6px;background:#f6f6f6;border-bottom:1px solid #ddd;font-weight:normal;white-space:nowrap;text-align:left;color:#555;}
table.write td		{padding:6px;background:#ffffff;border-bottom:1px solid #ddd;font-weight:normal;white-space:nowrap;}
table.write th.end	{padding:6px;background:#f6f6f6;font-weight:normal;white-space:nowrap;text-align:left;}
table.write td.end	{padding:6px;background:#ffffff;font-weight:normal;white-space:nowrap;}
table.write input	{height:17px;border:1px solid #ccc;letter-spacing:normal;}
table.write textarea{border:1px solid #ccc;}
table.write table td{padding:0;}

.paging{padding:15px 0;line-height:normal;text-align:center}
.paging a,
.paging strong{display:inline-block;position:relative;width:26px;margin:0;padding:0;border:1px solid #ccc;background:#fff;font:normal 11px/14px Tahoma, Sans-serif;color:#777;text-decoration:none;line-height:20px;z-index:2;}
.paging a:hover,
.paging a:active,
.paging a:focus	{background:#ffffff;border:1px solid #666;color:#1171C0;}
.paging .on		{background:#666;border:1px solid #666;color:#fff;font-weight:bold;}
.paging .prev,
.paging .prev a,
.paging .next,	
.paging .next a		{border:none !important;background:none !important;margin:1px 0;padding:0;z-index:1;vertical-align:top;}

/* popup */
#popwrap			{position:relative;padding:0;margin:0;height:100%;} 
#popwrap .poptit	{background:#555555;padding:0;margin:0;} 
#popwrap .poptit h1	{padding:10px;margin:0;color:#fff;} 
#pop_container		{padding:10px;margin:0;} 
#pop_close			{padding:0;margin:10px 0;left:0;bottom:0;text-align:center;} 
.closebtn			{display:inline-block;padding:4px 10px 6px;margin:0;background:#666;border:1px solid #555;border-radius:2px;line-height:100%;font-size:11px;color:#fff !important;vertical-align:middle;white-space:nowrap;font-family:tahoma;}

#popskipnavi				{position:absolute;top:0;width:100%;height:auto;z-index:99999;}
#popskipnavi li a			{position:absolute;top:-500px;}
#popskipnavi li a:focus,
#popskipnavi li a:active	{top:1px;display:block;width:100%;height:30px;;line-height:30px;text-align:center;font-size:100%;font-weight:bold;background-color:#36312b;color:#ffffff;text-decoration:none;}

.commonbtn,
.commonbtn *		{display:inline-block;overflow:visible;position:relative;background-image:url('../../images/bg/bg_btn.png');background-repeat:no-repeat;vertical-align:middle;white-space:nowrap}
.commonbtn			{margin-right:2px}
.commonbtn *		{left:2px;cursor:pointer;_cursor:hand;}
.commonbtn.small,
.commonbtn.small *	{height:30px;line-height:25px;}
.commonbtn.small	{background-position:0 -195px;}
.commonbtn.small *	{padding:0 14px 0 10px;background-position:100% -195px;font-size:11px;}
.commonbtn.medium,
.commonbtn.medium *{height:30px;line-height:30px;}
.commonbtn.medium	{background-position:0 -160px;}
.commonbtn.medium *{padding:0 20px 0 16px;background-position:100% -160px;font-size:12px;}


.count{height:65px; margin:0 0 5px 0;background:url(/images/bg/bg_count.gif) left top no-repeat;}
.yesterday{float:left; width:90px; margin:0 0 0 0; padding:6px 0 0 0;text-align:center;  font-size:10px; font-family:verdana; font-weight:bold;}
.total{clear:both; width:175px; margin:0 0 22px 0 ; padding:6.5px 0 0 0; text-align:center; font-size:10px; font-family:verdana; font-weight:bold;}

